button {
    background-color: blue;
}

button:hover {
    background-color: red;
} 

.header-img {
    width: 80px;
    height: 80px;
    border-radius: 80%; 
      
}

nav {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-around;
}

.header-img-div {
    /* border: 1px solid black; */
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 500px;
     
}

header{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    margin: -9px -10px 1px -10px;
    /* border: 1px solid black; */
}

.creative-p {
    /* display: inline; */
    font-size: 30px;

}

.p-span{
    color: brown;
}

a {
    text-decoration: none;
}